@font-face {
    font-family: 'caligrafia';
    src: url(font/Merriweather.ttf) format('truetype');
}

@font-face {
    font-family: 'caligrafiaTexto';
    src: url(font/FiraSansCondensed-Thin.ttf) format('truetype');
}

@font-face{
    font-family:'caligrafia3';
    src:url(font/Julius.ttf) format('truetype');
}

body { 
    margin: 0; 
    font-family: sans-serif; 
    overflow-x: hidden; 
    background-color:#f0f0f0;

}

.cabecera {
    width: 100vw;
    height: 10vh;
    z-index:1;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;

}

.botonMenu {
    background-color: transparent;
    color: #f0f0f0;
    border: none;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'caligrafiaTexto';
    font-weight: bold;
}  

.parallax-container {
    width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;	
    align-items: flex-start;
    background-color: #f0f0f0;
    border-top:2px solid rgba(0, 0, 0, 0.8);
}

.tituloWeb {
    font-size: 160px; 
    padding-left: 80px;
    padding-top: 10px;
    line-height: 1;
    z-index: 1;
    color:rgba(0, 0, 0, 0.8 );
    margin-bottom:0;
    margin-top: -20px;
    font-family: 'caligrafia';
    display:flex;
    flex-direction: row;
}
.parallax-img {
    will-change: transform;
}

.subtitulo{
    font-size: 40px;
    padding-left: 80px;
    line-height: 1;
    z-index: 1;
    color:rgba(0, 0, 0, 0.8 );
    margin-top: -20px;
    font-family: 'caligrafia';
    font-style:italic;
}

.tarjetaInfo{
    width:100vw;
    height:auto;
    z-index: -1;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap:20px;
    padding-top:150px;
    margin-top:0px;
    flex-wrap: wrap;
    margin-left:0;
    padding-bottom:200px;
    background-color: rgba(185, 176, 164, 0.582);
}



.tarjetaInfo p{
        color:rgba(0, 0, 0, 0.8);
        font-size: 27px;
        line-height: 1.5;
        max-width: 500px;
        margin-top:0px;
        padding:80px;
        border-top: 2px solid rgba(0, 0, 0, 0.8);
        border-bottom: 2px solid rgba(0, 0, 0, 0.8);
        font-family: 'caligrafiaTexto';
        flex-wrap: wrap;
        margin-right:50px;
}
.tarjetaInfo img{
    width: 45vw;
    height: auto;
    margin-top:40px;
    padding-top: 40px;
    padding: 40px;
    margin-left:0;
}


.newsDiv{
    width:100%;
    height: 100vh;
    z-index: 1;
    background-color: #f0f0f0;
}

.tituloNovedades{
    font-size: 50px;
    padding-left: 50px;
    padding-top: 200px;
    padding-bottom:30px;
    line-height: 1;
    color:rgba(0, 0, 0,0.8);
    margin-top:0;
    margin-bottom:0;
    font-family:'caligrafia';
    justify-self: center;
}
.grillaFotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top:20px;
}

.imagenGrilla{
    width: 350px;
    height: auto;
    max-width:fit-content;
    max-height: fit-content;
    flex-wrap:wrap;
    object-fit: cover;
}

.divContacto{
    z-index: 1;
	width:100%; 
    min-height:100%;
	background-color:rgba(0, 0, 0, 0.8); 
	display: flex; 
    color:#f0f0f0;
    flex-direction:column;
    max-height: 400px;
}
.divContacto form{
    display:flex;
    align-self: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0px;
    width:25%;
    gap:15px;
}

.contactCardTitle{
	display:flex;
    justify-content: center;
    margin-top: 50px; 
    margin-bottom:30px;
    font-size: 35px;
    font-family: 'caligrafia';
}

.inputForm{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-top:-10px;
}

.botonSubmit{
    background-color: #f0f0f0;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding:10px 40px;
    font-size: 15px;
    font-style: bold;
}
.botonSubmit:hover{
    background-color: #7a7979;
    color:#f0f0f0
}