body { 
    margin: 0; 
    font-family: sans-serif; 
    overflow-x: hidden; 
}

.parallax-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;	
    align-items: flex-start;
    background-color: #f0f0f0;
    overflow: hidden;
}

.tituloWeb {
    font-size: 150px; 
    margin:-40px;
    padding-left: 50px;
    padding-top: 50px;
    line-height: 1;
    z-index: -1;
}
.parallax-img {
    will-change: transform;
}

.divGrande{
	display:block;
	width: 100%;
    height: 150px; /* Ajusta la altura al tamaño de tu cenefa */
    background-image: url('cenefa.png');
    background-repeat: repeat-x; /* Esto hace que se repita solo hacia la derecha */
    background-size: contain;    /* O puedes usar un tamaño fijo, ej: 200px auto */
    background-position: left center;
	filter:contrast(200%);
}

.tarjetaInfo{
    width:100%;
    height:75vh;
    background-color: rgb(0, 0, 0);
    display:flex;
    align-items: flex-start;
    justify-content: center;
    padding:25px;
    margin-top:75px;
}

.tarjetaInfo p{
        color:white;
        font-size: 20px;
        line-height: 1.5;
        max-width: 500px;
}

.divContacto{
	height:50vh; 
	width:100%; 
	background-color:rgb(214, 167, 137); 
	display: flex; 
	align-items: flex-start; 
	justify-content: center;
}
.contactForm{
	display:flex;
	flex-direction:column;
}