body { 
    margin: 0; 
    font-family: sans-serif; 
    overflow-x: hidden; 
}

.cabecera {
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.parallax-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;	
    align-items: flex-start;
    background-color: #f0f0f0;
}

.tituloWeb {
    font-size: 150px; 
    padding-left: 50px;
    padding-top: 10px;
    line-height: 1;
    z-index: -1;
    color:rgba(0, 0, 0, 0.8 );
    margin-bottom:0;
    margin-top: 0;
}
.parallax-img {
    will-change: transform;
}

.divGrande{
	display:block;
	width: 100%;
    height: 150px; /* Ajusta la altura al tamaño de tu cenefa */
    background-image: url('cenefa.png');
    background-repeat: repeat-x; /* Esto hace que se repita solo hacia la derecha */
    background-size: contain;    /* O puedes usar un tamaño fijo, ej: 200px auto */
    background-position: left center;
	filter:contrast(200%);
}

.tarjetaInfo{
    width:100%;
    height:75vh;
    background-color: #572c392c;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding:25px;
    margin-top:90px;
    flex-direction: row;
    flex-wrap: wrap;
}

.tarjetaInfo p{
        color:#000000;
        font-size: 20px;
        line-height: 1.5;
        max-width: 500px;
        margin-top:-50;

}
.tarjetaInfo img{
    width: 30vh;
    height: 30vh;
    margin-right: 10px;
}

.divContacto{
	height:50vh; 
	width:100%; 
	background-color:rgb(0, 0, 0); 
	display: flex; 
	align-items: flex-start; 
	justify-content: center;
    color:#f0f0f0
}
.contactCard{
	display:flex;
	flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 50px; 


}